<div class="container">
  <h3 class="mb-4">Flight Booking History</h3>
  <div class="row g-4">
    <div
      class="col-12 col-sm-6 col-md-4"
      *ngFor="let booking of bookingHistory"
    >
      <div class="card" style="width: 100%; box-shadow: '0px 0px 7px #ccc'">
        <div class="card-body">
          <h4 class="card-title font-weight-bold">{{ booking.flightName }}</h4>
          <div class="card-text">
            <h6
              style="
                padding: 15px 10px;
                box-shadow: '0px 0px 7px #ccc';
                margin-top: 20px;
                border-radius: 5px;
              "
            >
              Source:
              <span style="font-weight: 400">{{ booking.routeSource }}</span>
            </h6>
            <h6
              style="
                padding: 15px 10px;
                box-shadow: '0px 0px 7px #ccc';
                margin-top: 15px;
                border-radius: 5px;
              "
            >
              Destination:
              <span style="font-weight: 400">{{
                booking.routeDestination
              }}</span>
            </h6>
            <h6
              style="
                padding: 15px 10px;
                box-shadow: '0px 0px 7px #ccc';
                margin-top: 15px;
                border-radius: 5px;
              "
            >
              Date:
              <span style="font-weight: 400">{{ booking.flightDate }}</span>
            </h6>
            <h6
              style="
                padding: 15px 10px;
                box-shadow: '0px 0px 7px #ccc';
                margin-top: 15px;
                border-radius: 5px;
              "
            >
              Total Tickets:
              <span style="font-weight: 400">{{ booking.totalTickets }}</span>
            </h6>
            <h6
              style="
                padding: 15px 10px;
                box-shadow: '0px 0px 7px #ccc';
                margin-top: 15px;
                border-radius: 5px;
              "
            >
              Total Cost:
              <span style="font-weight: 400">{{ booking.totalCost }}</span>
            </h6>
          </div>

          <div class="d-grid mt-3">
            <button class="btn btn-primary">View</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
