<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Flight Booking</a>
    <div>
      <img
        src="https://randomuser.me/api/portraits/med/men/75.jpg"
        alt="Avatar"
        class="avatar d-lg-none"
        style="
          vertical-align: middle;
          width: 45px;
          height: 45px;
          border-radius: 50%;
          margin-right: 20px;
        "
      />
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/flight-booking"
            routerLinkActive="active"
            >Book Flight</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/invoice" routerLinkActive="active"
            >Manage Booking</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/flight-history"
            routerLinkActive="active"
            >Flight History</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/account-settings"
            routerLinkActive="active"
            >Account Setting</a
          >
        </li>
      </ul>
    </div>
  </div>
  <form class="d-flex d-none d-lg-block">
    <img
      src="https://randomuser.me/api/portraits/med/men/75.jpg"
      alt="Avatar"
      class="avatar"
      style="
        vertical-align: middle;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        margin-right: 20px;
      "
    />
  </form>
</nav>
