<div
  class="All"
  style="
    background-image: url(assets/Images/login_background.jpg);
    background-size: cover;
    padding-top: 5em;
    padding-bottom: 5em;
  "
>
  <div
    style="
      width: 60%;
      margin: auto;
      background: rgb(246, 246, 246);
      border-radius: 10px;
      padding: 50px;
      box-shadow: 0px 0px 10px #333;
      text-align: center;
    "
  >
    <h1
      style="
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 28px;
        font-weight: bolder;
      "
    >
      SIGN-UP
    </h1>

    <form
      action="/action_page.php"
      style="border: 0px solid #ccc; padding-top: 20px"
    >
      <div>
        <form (submit)="handleFormSubmit($event)" ngNativeValidate>
          <div style="text-align: left">
            <label for="name" style="font-weight: bolder"><b>Name</b></label>
            <input
              type="text"
              placeholder="Enter Name"
              name="name"
              [(ngModel)]="name"
              required
            />
          </div>

          <div style="text-align: left">
            <label for="email" style="font-weight: bolder"><b>Email</b></label>
            <input
              type="email"
              placeholder="Enter Email"
              name="email"
              [(ngModel)]="email"
              required
            />
          </div>

          <div style="text-align: left">
            <label for="phone" style="font-weight: bolder"
              ><b>Phone Number</b></label
            >
            <input
              type="text"
              pattern="^[0-9]{10}$"
              placeholder="Enter Phone Number"
              name="phone"
              [(ngModel)]="phoneNo"
            />
          </div>
          <div style="text-align: left">
            <label for="psw" style="font-weight: bolder"><b>Password</b></label>
            <input
              type="password"
              placeholder="Enter Password"
              name="psw"
              [(ngModel)]="password"
              required
            />
          </div>

          <div style="text-align: left">
            <label for="psw-repeat" style="font-weight: bolder"
              ><b>Repeat Password</b></label
            >
            <input
              type="password"
              placeholder="Repeat Password"
              name="psw-repeat"
              [(ngModel)]="repeatPassword"
              required
            />
          </div>
          <div style="text-align: left">
            <label style="font-weight: bolder">
              <input
                type="checkbox"
                name="remember"
                [(ngModel)]="rememberMe"
                style="margin-bottom: 15px"
              />
              Remember me
            </label>
          </div>

          <p style="font-weight: bolder">
            By creating an account you agree to our
            <a href="#" style="color: dodgerblue">Terms & Privacy</a>.
          </p>
          <br />

          <div
            class="clearfix"
            style="
              text-align: center;
              margin-left: 50%;
              transform: translateX(-50%);
            "
          >
            <button
              type="submit"
              class="signupbtn"
              style="
                width: 160px;
                font-weight: bolder;
                border-radius: 12px;
                background-color: rgb(249, 192, 86);
                margin-left: 50px;
                color: black;
              "
            >
              SIGN-UP
            </button>
            <button
              type="reset"
              class="cancelbtn"
              style="
                width: 160px;
                margin-left: 10px;
                font-weight: bolder;
                background-color: crimson;
                border-radius: 12px;
                color: white;
              "
            >
              CANCEL
            </button>
          </div>
        </form>
      </div>
    </form>
  </div>
</div>
