input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 0px 0 18px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="date"],
input[type="time"] {
  padding: 12px 20px;
  margin: 0px 0 18px 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.All {
  padding: 20px;
}

input[type="submit"] {
  width: 100%;
  background-color: #0f62df;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 19px;
  font-weight: bold;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
}
