textarea {
    width: 50%;
    height: 150px;
    margin-left: 300px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }
 input[type=submit] {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    margin-top: 40px;
    margin-left: 600px;
    text-decoration: none;
    
    cursor: pointer;
  }

