<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height: 70px">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Flight Booking</a>
    <div>
      <img
        src="https://randomuser.me/api/portraits/med/men/75.jpg"
        alt="Avatar"
        class="avatar d-lg-none"
        style="
          vertical-align: middle;
          width: 45px;
          height: 45px;
          border-radius: 50%;
          margin-right: 20px;
        "
      />
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
    </div>
  </div>
  <form class="d-flex d-none d-lg-block">
    <img
      src="https://randomuser.me/api/portraits/med/men/75.jpg"
      alt="Avatar"
      class="avatar"
      style="
        vertical-align: middle;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        margin-right: 20px;
      "
    />
  </form>
</nav>

<div class="container mt-4 mb-4">
  <h3 class="mb-4">Flight Booking History</h3>
  <div class="row g-4">
    <div
      class="col-12 col-sm-6 col-md-4"
      *ngFor="let booking of bookingHistory"
    >
      <div class="card" style="width: 100%; box-shadow: '0px 0px 7px #ccc'">
        <div class="card-body">
          <h4 class="card-title font-weight-bold">{{ booking.flightName }}</h4>
          <div class="card-text">
            <h6
              style="
                padding: 15px 10px;
                box-shadow: '0px 0px 7px #ccc';
                margin-top: 20px;
                border-radius: 5px;
              "
            >
              Source:
              <span style="font-weight: 400">{{ booking.routeSource }}</span>
            </h6>
            <h6
              style="
                padding: 15px 10px;
                box-shadow: '0px 0px 7px #ccc';
                margin-top: 15px;
                border-radius: 5px;
              "
            >
              Destination:
              <span style="font-weight: 400">{{
                booking.routeDestination
              }}</span>
            </h6>
            <h6
              style="
                padding: 15px 10px;
                box-shadow: '0px 0px 7px #ccc';
                margin-top: 15px;
                border-radius: 5px;
              "
            >
              Date:
              <span style="font-weight: 400">{{ booking.flightDate }}</span>
            </h6>
            <h6
              style="
                padding: 15px 10px;
                box-shadow: '0px 0px 7px #ccc';
                margin-top: 15px;
                border-radius: 5px;
              "
            >
              Total Tickets:
              <span style="font-weight: 400">{{ booking.totalTickets }}</span>
            </h6>
            <h6
              style="
                padding: 15px 10px;
                box-shadow: '0px 0px 7px #ccc';
                margin-top: 15px;
                border-radius: 5px;
              "
            >
              Total Cost:
              <span style="font-weight: 400">{{ booking.totalCost }}</span>
            </h6>
          </div>

          <div class="d-grid mt-3">
            <button class="btn btn-primary">View</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 mb-4">
  <h3>Account Settings</h3>

  <div class="card mt-4" style="width: 100%; box-shadow: '0px 0px 7px #ccc'">
    <div class="card-body">
      <h4 class="card-title font-weight-bold">Update Account Details</h4>

      <div class="mb-3 mt-4">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          placeholder="Username"
        />
      </div>

      <div class="mb-3 mt-4">
        <label for="name" class="form-label">Name</label>
        <input
          type="password"
          class="form-control"
          id="name"
          placeholder="Name"
        />
      </div>

      <div class="mb-3 mt-4">
        <label for="date-of-birth" class="form-label">Date of Birth</label>
        <input
          type="date"
          class="form-control"
          id="date-of-birth"
          placeholder="date-of-birth"
        />
      </div>

      <div class="d-grid mt-4">
        <button type="button" class="btn btn-primary">Update Details</button>
      </div>
    </div>
  </div>

  <!-- Change Password -->
  <div class="card mt-4" style="width: 100%; box-shadow: '0px 0px 7px #ccc'">
    <div class="card-body">
      <h4 class="card-title font-weight-bold">Change Password</h4>

      <div class="mb-3 mt-4">
        <label for="old-password" class="form-label">Old Password</label>
        <input
          type="password"
          class="form-control"
          id="old-password"
          placeholder="Old Password"
        />
      </div>

      <div class="mb-3 mt-4">
        <label for="new-password" class="form-label">New Password</label>
        <input
          type="password"
          class="form-control"
          id="new-password"
          placeholder="New Password"
        />
      </div>

      <div class="mb-3 mt-4">
        <label for="new-confirm-password" class="form-label"
          >Confirm Password</label
        >
        <input
          type="password"
          class="form-control"
          id="new-confirm-password"
          placeholder="Confirm Password"
        />
      </div>

      <div class="d-grid mt-4">
        <button type="button" class="btn btn-primary">Change Password</button>
      </div>
    </div>
  </div>

  <!-- Delete Account -->
  <div class="card mt-4" style="width: 100%; box-shadow: '0px 0px 7px #ccc'">
    <div class="card-body">
      <h4 class="card-title font-weight-bold">Delete Account</h4>

      <div class="mb-3 mt-4">
        <label for="delete-account-password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="delete-account-password"
          placeholder="Password"
        />
      </div>

      <div class="form-check mt-3 mb-3">
        <input
          class="form-check-input"
          type="checkbox"
          id="delete-account-confirmation-check"
        />
        <label class="form-check-label" for="delete-account-confirmation-check">
          Sure to Delete Account
        </label>
      </div>

      <div class="form-check mt-3 mb-3">
        <input class="form-check-input" type="checkbox" id="agree-to-delete" />
        <label class="form-check-label" for="agree-to-delete">
          Agree that once the account is deleted all the flight booking data
          will lost
        </label>
      </div>

      <div class="d-grid mt-3">
        <button
          type="button"
          class="btn btn-danger w-100"
          (click)="deleteAccount()"
        >
          Delete Account
        </button>
      </div>
    </div>
  </div>
</div>
