<div
  class="row g-4 p-4"
  style="
    background-image: url('../../../assets/flightImges/img1.png');
    background-size: cover;
  "
>
  <div class="col-12 col-sm-12 col-md-4 mb-4">
    <div class="card" style="width: 100%; height: 100%">
      <div class="card-body">
        <h4 class="card-title font-weight-bold">
          Flight Name - {{ selectedFlight[0]?.name }}
        </h4>
        <div class="card-text">
          <h6
            style="
              padding: 15px 10px;
              box-shadow: '0px 0px 7px #ccc';
              margin-top: 20px;
              border-radius: 5px;
            "
          >
            Source:
            <span style="font-weight: 400">{{
              selectedFlight[0]?.routeSource
            }}</span>
          </h6>
          <h6
            style="
              padding: 15px 10px;
              box-shadow: '0px 0px 7px #ccc';
              margin-top: 15px;
              border-radius: 5px;
            "
          >
            Destination:
            <span style="font-weight: 400">
              {{ selectedFlight[0]?.routeDestination }}
            </span>
          </h6>
          <h6
            style="
              padding: 15px 10px;
              box-shadow: '0px 0px 7px #ccc';
              margin-top: 15px;
              border-radius: 5px;
            "
          >
            Date:
            <span style="font-weight: 400">{{
              selectedFlight[0]?.departureDate
            }}</span>
          </h6>
          <h6
            style="
              padding: 15px 10px;
              box-shadow: '0px 0px 7px #ccc';
              margin-top: 15px;
              border-radius: 5px;
            "
          >
            Total Seats:
            <span style="font-weight: 400">{{ getTotalSeats() }}</span>
          </h6>
          <h6
            style="
              padding: 15px 10px;
              box-shadow: '0px 0px 7px #ccc';
              margin-top: 15px;
              border-radius: 5px;
            "
          >
            Total Remaining Seats:
            <span style="font-weight: 400">{{ getRemainingSeats() }}</span>
          </h6>
          <!-- <h6
            style="
              padding: 15px 10px;
              box-shadow: '0px 0px 7px #ccc';
              margin-top: 15px;
              border-radius: 5px;
            "
          >
            Ticket Cost:
            <span style="font-weight: 400">900</span>
          </h6> -->
        </div>

        <div class="row mt-3">
          <button
            class="btn btn-primary m-4"
            style="width: 100%"
            (click)="handleBookFlight()"
            [disabled]="isBookingDisabled"
          >
            Book Flight
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- right card -->

  <div class="col-12 col-sm-12 col-md-8 mb-4">
    <div class="card" style="width: 100%; height: 100%">
      <div class="card-body">
        <h4 class="card-title font-weight-bold">Services</h4>
        <div class="card-text">
          <h6
            style="
              padding: 15px 10px;
              box-shadow: '0px 0px 7px #ccc';
              margin-top: 20px;
              border-radius: 5px;
            "
          >
            Source:
            <span style="font-weight: 400">Departs from pune Airport,Pune</span>
          </h6>
          <h6
            style="
              padding: 15px 10px;
              box-shadow: '0px 0px 7px #ccc';
              margin-top: 15px;
              border-radius: 5px;
            "
          >
            <span style="font-weight: 400">
              Check-in baggage:15 kgs and cabin baggage:5kgs
            </span>
          </h6>
          <h6
            style="
              padding: 15px 10px;
              box-shadow: '0px 0px 7px #ccc';
              margin-top: 15px;
              border-radius: 5px;
            "
          >
            Date:
            <span style="font-weight: 400"
              >Meal onboard: include solid food
            </span>
          </h6>
          <h6
            style="
              padding: 15px 10px;
              box-shadow: '0px 0px 7px #ccc';
              margin-top: 15px;
              border-radius: 5px;
            "
          >
            <span style="font-weight: 400">Wifi onboard:Available</span>
          </h6>
          <h6
            style="
              padding: 15px 10px;
              box-shadow: '0px 0px 7px #ccc';
              margin-top: 15px;
              border-radius: 5px;
            "
          >
            <span style="font-weight: 400"
              >Exit Airport: Mumbai Terminal 2 (T2)</span
            >
          </h6>
          <h6
            style="
              padding: 15px 10px;
              box-shadow: '0px 0px 7px #ccc';
              margin-top: 15px;
              border-radius: 5px;
            "
          >
            <span style="font-weight: 400"
              >To track the flight: pincode=009867</span
            >
          </h6>
          <h6
            style="
              padding: 15px 10px;
              box-shadow: '0px 0px 7px #ccc';
              margin-top: 15px;
              border-radius: 5px;
            "
          >
            <span style="font-weight: 400">collect baggage at exit no.3</span>
          </h6>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="card" style="width: 100%; height: 100%">
      <div class="card-body">
        <h4 class="card-title font-weight-bold">Flight Classes</h4>
        <div class="card-text">
          <div
            *ngIf="selectedFlight[0].isEconomyClass"
            style="
              padding: 15px 10px;
              box-shadow: '0px 0px 7px #ccc';
              margin-top: 20px;
              border-radius: 5px;
            "
          >
            <h4 style="font-weight: bold">Economy Class</h4>
            <h4 style="font-weight: 500; margin-top: 10px">
              Total Seats: {{ selectedFlight[0]?.economyClassTotalSeats }}
            </h4>
            <h4 style="font-weight: 500; margin-top: 10px">
              Remaining Seats:
              {{ selectedFlight[0]?.economyClassRemainingSeats }}
            </h4>
            <h4 style="font-weight: 500; margin-top: 10px">
              Individual Ticket Price:
              {{ selectedFlight[0]?.economyClassTicketCost }}
            </h4>
          </div>

          <div
            *ngIf="selectedFlight[0].isBusinessClass"
            style="
              padding: 15px 10px;
              box-shadow: '0px 0px 7px #ccc';
              margin-top: 20px;
              border-radius: 5px;
            "
          >
            <h4 style="font-weight: bold">Business Class</h4>
            <h4 style="font-weight: 500; margin-top: 10px">
              Total Seats: {{ selectedFlight[0]?.businessClassTotalSeats }}
            </h4>
            <h4 style="font-weight: 500; margin-top: 10px">
              Remaining Seats:
              {{ selectedFlight[0]?.businessClassRemainingSeats }}
            </h4>
            <h4 style="font-weight: 500; margin-top: 10px">
              Individual Ticket Price:
              {{ selectedFlight[0]?.businessClassTicketCost }}
            </h4>
          </div>

          <div
            *ngIf="selectedFlight[0].isFirstClass"
            style="
              padding: 15px 10px;
              box-shadow: '0px 0px 7px #ccc';
              margin-top: 20px;
              border-radius: 5px;
            "
          >
            <h4 style="font-weight: bold">First Class</h4>
            <h4 style="font-weight: 500; margin-top: 10px">
              Total Seats: {{ selectedFlight[0]?.firstClassTotalSeats }}
            </h4>
            <h4 style="font-weight: 500; margin-top: 10px">
              Remaining Seats:
              {{ selectedFlight[0]?.firstClassRemainingSeats }}
            </h4>
            <h4 style="font-weight: 500; margin-top: 10px">
              Individual Ticket Price:
              {{ selectedFlight[0]?.firstClassTicketCost }}
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
