<div class="container h-100vh pt-4 pb-5">
  <p
    style="
      font-weight: bolder;
      font-size: 30px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: black;
    "
  >
    <b>CONTACT US</b>
  </p>
  <br />
  <br />
  <p
    style="
      font-weight: bolder;
      font-size: 25px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: rgba(0, 0, 0, 0.664);
    "
  >
    <b>Our Officies</b>
  </p>
  <br />
  <div class="card">
    <img
      src="assets/Images/direction1.png"
      alt="Avatar"
      style="width: fit-content; margin-left: 15px"
    />
    <div class="container">
      <b
        style="
          font-family: Georgia, 'Times New Roman', Times, serif;
          font-size: 20px;
        "
        >Mumbai</b
      >
      <br /><br />
      <p
        style="
          font-weight: bolder;
          font-size: 15px;
          font-family: Georgia, 'Times New Roman', Times, serif;
          color: rgb(5, 66, 66);
          margin-left: 22px;
        "
      >
        AeroFly India Pvt. Ltd. 06, Godrej Business District, Pirojshanagar,
        Vikhroli, Mumbai-400079, India
      </p>
    </div>
  </div>

  <div class="cardcenter">
    <img
      src="assets/Images/direction2.png"
      alt="Avatar"
      style="width: fit-content; margin-left: 15px"
    />
    <div class="container">
      <b
        style="
          font-family: Georgia, 'Times New Roman', Times, serif;
          font-size: 20px;
        "
        >Bangalore</b
      >
      <br /><br />
      <p
        style="
          margin-left: 28px;
          font-weight: bolder;
          font-size: 15px;
          font-family: Georgia, 'Times New Roman', Times, serif;
          color: rgb(5, 66, 66);
        "
      >
        AeroFly India Pvt. Ltd. Embassy Tech Village, Outer Ring Rd, Bengaluru,
        Karnataka 560103
      </p>
    </div>
  </div>

  <div>
    <p
      style="
        font-weight: bolder;
        font-size: 25px;
        margin-top: 100px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgba(0, 0, 0, 0.767);
      "
    >
      <b>EMAIL</b>
    </p>
    <br />
    <p
      style="
        font-weight: bolder;
        font-size: 25px;
        margin-top: 14px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgba(0, 0, 0, 0.768);
      "
    >
      For booking queries and support, visit
    </p>

    <p>
      <a
        href="/report"
        style="
          font-weight: bolder;
          margin-top: 15px;
          font-size: 18px;
          font-family: Georgia, 'Times New Roman', Times, serif;
        "
        ><u>http://www.infyairlines.com/support</u></a
      >
    </p>

    <br />

    <p
      style="
        font-weight: bolder;
        font-size: 18px;
        margin-top: 7px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgba(0, 0, 0, 0.768);
      "
    >
      <b
        >For concerns regarding Privacy statement & practices,

        <a
          href="/report"
          style="
            font-weight: bolder;
            margin-top: 8px;
            font-size: 18px;
            font-family: Georgia, 'Times New Roman', Times, serif;
          "
          ><u>Click Here</u></a
        >

        <p
          style="
            font-weight: bolder;
            font-size: 25px;
            margin-top: 57px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: rgba(0, 0, 0, 0.767);
          "
        >
          <b>ENGAGE WITH US</b>
        </p>
        <br />
      </b>
    </p>
  </div>

  <br />

  <div>
    <div class="cardleft1">
      <img
        src="assets/Images/facebook.png"
        alt="Avatar"
        style="width: 42px; margin-left: 140px"
      />
      <div class="container">
        <p
          style="
            margin-left: 28px;
            font-weight: bolder;
            font-size: 15px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: darkcyan;
          "
        >
          <u>Connect With us on FaceBook</u>
        </p>
      </div>
    </div>

    <div class="card1">
      <img
        src="assets/Images/twitter.png"
        alt="Avatar"
        style="width: 50px; margin-left: 140px"
      />
      <div class="container">
        <p
          style="
            font-weight: bolder;
            font-size: 15px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: darkcyan;
          "
        >
          <u>Follow us on Twitter</u>
        </p>
      </div>
    </div>

    <div class="cardcenter1">
      <img
        src="assets/Images/inkedin.png"
        alt="Avatar"
        style="width: 50px; margin-left: 140px"
      />
      <div class="container">
        <p
          style="
            margin-left: 28px;
            font-weight: bolder;
            font-size: 15px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: darkcyan;
          "
        >
          <u>Stay Connected on Linked-In</u>
        </p>
      </div>
    </div>

    <br />
    <br />
  </div>
</div>
