<h1 style="margin-left: 600px; margin-top: 20px; font-weight: bold;">Sign Up</h1>
<div class="imgcontainer">
  <img src="assets/Images/signup_icon.png" alt="Avatar" class="avatar" style="height: 180px; width: 180px;margin-left: 560px ">
</div>
<form action="/action_page.php" style="border:0px solid #ccc; margin-left: 300px;" >
  

    <div class="container"> 
      
      <p style="font-weight: bold;"> Fill Form to Create an Account.</p>
      <hr>
  
      <label for="email"><b>Email</b></label>
      <input type="text"  ngModel placeholder="Enter Email" name="email" required >
      

      <label for="phone"><b>Phone Number</b></label>
      <input type="number" placeholder="Enter Phone Number" name="phone" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
  
      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
      
      <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
      </label>
      
      <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
  
      <div class="clearfix">
        <button type="button" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Sign Up</button>
      </div>
    </div>
    
  </form>

