<div class="container h-100vh pt-4 pb-5">
  <p
    style="
      font-size: 30px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: bolder;
      color: rgb(1, 122, 122);
    "
  >
    Great Things Come In All Shapes
  </p>
  <br /><br />
  <div>
    <br />
    <img
      src="assets/Images/aboutus.png"
      style="
        height: auto;
        width: 70%;
        margin-left: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 70%;
        padding: 20px;
      "
    />
  </div>

  <br />
  <br />
  <div class="left">
    <p
      style="
        font-size: 30px;
        font-weight: bolder;
        font-family: Georgia, 'Times New Roman', Times, serif;
      "
    >
      Keeping it simple
    </p>

    <p
      style="
        font-size: 16px;
        font-family: Georgia, 'Times New Roman', Times, serif;
      "
    >
      We come together each day to fulfill promise of offering the single most
      comprehensive travel experience to users, through award winning Mobiles
      and Desktops solutions. With intuitive product that have the largest
      selection of flights, hotels, trains we keep customers at the centre of
      everything we do.
    </p>
  </div>

  <div class="right">
    <p
      style="
        font-size: 30px;
        font-weight: bolder;
        font-family: Georgia, 'Times New Roman', Times, serif;
      "
    >
      Behind the screens
    </p>

    <p
      style="
        font-size: 16px;
        font-family: Georgia, 'Times New Roman', Times, serif;
      "
    >
      Spread across India and the Middle East, our leadership team has oodles of
      global experience in many travel and eCommerce. With an eclectic mix of
      expertise, our Executive team is a pool of the best the industry can
      offer.
    </p>
  </div>

  <p style="margin-top: 200px; font-weight: bold">
    -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  </p>

  <img src="assets/Images/plain.png" style="margin-top: 20px; width: 50px" />

  <img
    src="assets/Images/phone.png"
    style="margin-top: 20px; margin-left: 10px; width: 50px"
  />

  <img
    src="assets/Images/train.png"
    style="margin-top: 20px; margin-left: 10px; width: 50px"
  />
  <br />
  <br />
  <p style="font-size: 25px; margin-top: 20px">
    At your service. Anywhere. Anytime
  </p>

  <br /><br />

  <div>
    <div class="cardleft">
      <img
        src="assets/Images/facebook.png"
        alt="Avatar"
        style="width: 42px; margin-left: 140px"
      />
      <div class="container">
        <p
          style="
            margin-left: 28px;
            font-weight: bolder;
            font-size: 15px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: darkcyan;
          "
        >
          <u>Connect With us on FaceBook</u>
        </p>
      </div>
    </div>

    <div class="card">
      <img
        src="assets/Images/twitter.png"
        alt="Avatar"
        style="width: 50px; margin-left: 140px"
      />
      <div class="container">
        <p
          style="
            font-weight: bolder;
            font-size: 15px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: darkcyan;
          "
        >
          <u>Follow us on Twitter</u>
        </p>
      </div>
    </div>

    <div class="cardcenter">
      <img
        src="assets/Images/inkedin.png"
        alt="Avatar"
        style="width: 50px; margin-left: 140px"
      />
      <div class="container">
        <p
          style="
            margin-left: 28px;
            font-weight: bolder;
            font-size: 15px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: darkcyan;
          "
        >
          <u>Stay Connected on Linked-In</u>
        </p>
      </div>
    </div>

    <br />
    <br />

    <div>
      <p style="font-family: Georgia, 'Times New Roman', Times, serif">
        We are never too far away from you. Give us a shout for any assistance
        on new bookings, cancellations or amendments, any kind problems and
        we’ll spring into action immediately, because we are wherever you are.
      </p>
    </div>

    <br />

    <p>
      <a
        href="/contact-us"
        style="
          font-weight: bolder;
          font-size: 18px;
          font-family: Georgia, 'Times New Roman', Times, serif;
        "
        >Contact Us--></a
      >
    </p>
  </div>
</div>
