<div class="All" style="background-image: url(assets/Images/login11.jpg)">
  <p
    style="
      font-weight: bold;
      font-size: 28px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: bolder;
      color: white;
      padding-top: 30px;
      padding-bottom: 30px;
    "
  >
    LOGIN
  </p>

  <p></p>

  <form action="/action_page.php" method="post" style="border-width: 0ch">
    <img
      src="assets/Images/login_logo.png"
      alt="Avatar"
      class="avatar"
      style="height: 90px; width: 100px"
    />

    <div class="container" style="text-align: center">
      <form
        (submit)="handleFormSubmit($event)"
        ngNativeValidate
        style="border-width: 0ch; width: 50%; margin: auto"
      >
        <div style="text-align: left">
          <label for="uname" style="font-weight: bolder; color: white"
            ><b> USERNAME</b></label
          >
          <input
            type="text"
            placeholder="Enter Username"
            name="uname"
            [(ngModel)]="username"
            required
          />
        </div>

        <br />
        <div style="text-align: left">
          <h3>
            <label for="psw1" style="font-weight: bolder; color: white"
              ><b>PASSWORD</b></label
            >
          </h3>
          <input
            type="password"
            placeholder="Enter Password"
            name="psw1"
            [(ngModel)]="password"
            required
          />
        </div>
        <br />

        <div>
          <label
            style="
              margin-top: 10px;
              font-family: Georgia, 'Times New Roman', Times, serif;
              font-weight: bolder;
              color: white;
            "
          >
            <input type="checkbox" name="remember" [(ngModel)]="rememberMe" />
            Remember me
          </label>
        </div>

        <button
          type="submit"
          style="
            margin-bottom: 55px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: bolder;
            border-radius: 12px;
            background-color: wheat;
            color: black;
          "
        >
          LOGIN
        </button>

        <button
          type="reset"
          style="
            background-color: crimson;
            margin-left: 130px;
            margin-bottom: 55px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: bolder;
            border-radius: 12px;
          "
        >
          CANCEL
        </button>
      </form>
    </div>
  </form>
</div>
