<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<div class="container">
  <div class="col-md-12">
    <div class="invoice">
      <!-- begin invoice-company -->
      <div class="invoice-company text-inverse f-w-600">
        <span class="pull-right hidden-print">
          <a
            href="javascript:;"
            onclick="window.print()"
            class="btn btn-sm btn-white m-b-10 p-l-5"
            ><i class="fa fa-print t-plus-1 fa-fw fa-lg"></i> Export as PDF</a
          >
        </span>
        Flight Booking Receipt
      </div>
      <!-- end invoice-company -->
      <!-- begin invoice-header -->
      <div class="invoice-header">
        <div class="invoice-from">
          <address class="m-t-5 m-b-5">
            <strong class="text-inverse">
              Passanger Username: {{ bookingData[0]?.username }}
            </strong>
          </address>
        </div>
        <div class="invoice-to"></div>
        <div class="invoice-date">
          <small>Invoice Details</small>
          <div class="invoice-detail">
            Booking ID.. {{ bookingData[0]?._id }}<br />
          </div>
        </div>
      </div>
      <!-- end invoice-header -->
      <!-- begin invoice-content -->
      <div class="invoice-content">
        <!-- begin table-responsive -->
        <div class="table-responsive">
          <table class="table table-invoice">
            <thead>
              <tr>
                <th>Passanger Details</th>
                <th class="text-center" width="15%">Flight Class</th>
                <th class="text-center" width="40%">Ticket</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let ticket of bookingData[0]?.tickets;
                  let indexOfelement = index
                "
              >
                <td>
                  <span class="text-inverse"
                    >Passanger {{ indexOfelement + 1 }}</span
                  ><br />
                </td>
                <td class="text-center">{{ ticket.className }}</td>
                <td class="text-center">{{ ticket.ticketNo }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- end table-responsive -->
        <!-- begin invoice-price -->
        <div class="invoice-price">
          <div class="invoice-price-left">
            <div class="invoice-price-row"></div>
          </div>
          <div class="invoice-price-right">
            <small>TOTAL</small>
            <span class="f-w-600">Rs. {{ bookingData[0]?.totalCost }}</span>
          </div>
        </div>
        <!-- end invoice-price -->
      </div>
      <!-- end invoice-content -->
      <!-- begin invoice-note -->
      <!-- end invoice-note -->
      <!-- begin invoice-footer -->
      <div class="invoice-footer">
        <p class="text-center m-b-5 f-w-600">THANK YOU FOR BOOKING</p>
      </div>
      <!-- end invoice-footer -->
    </div>
  </div>
</div>
